body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1589496933738-f5c27bc146e3?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #041e04;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 0px;
}

nav ul li a {
    color: white;
    margin-left: 10px;
   
}

.logo img {
    width: 150px;
    height: 150px; 
}

  h2{
color: rgb(255, 255, 255);
padding: 10px;
text-align: center;
text-shadow: #242424 5px 5px 5px;
  }

  article{
    color: #ffffff;
    text-align: center;
    padding: 10px;
    text-shadow: #242424 5px 5px 5px;
  }
  section{
    color: #000000;
    text-shadow: #242424 5px 5px 5px;
  }

  nav ul li a:hover {
    color: #fff700; /* Change color on hover */
}

footer {
    background-color: #041e04;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

footer p {
    margin: 0;
}